html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
	background-color: #BBDEFB;
}

body {
  font-family: 'Helvetica', sans-serif;
  
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

i  {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}


.notfound{
	position: relative;
	margin: 0 auto;
  top: 15%;
  width: 500px;
  /*
  left: 50%;
  webkit-transform: translateY(-75%);
  moz-transform: translateY(-75%);
  ms-transform: translateY(-75%);
  transform: translate(-50%, -75%); */
}

.notfound h1 {
	text-align: center;
	color: #808080;
	font-size: 3.5em;
	
}

/* mobile version*/
@media (max-width: 499px) {
  .notfound {
  	width: auto;
  	margin: 0 20px;
  }
  
  .notfound h1 {
	text-align: center;
	color: #808080;
	font-size: 2.5em;
	
}
   
}
p{
	text-align:center;
	
}

.notfound .addbutton {
 -webkit-appearance:none;
	width: 49%;
	display: inline-block;
	margin: 0;
	padding: 15px;
	background:none;
	background-color: #214864;
  border:none;
  color:white;
  -webkit-border-radius: 5px; /*For Safari, etc. */
  -moz-border-radius: 5px; /* For Mozilla, etc. */
  border-radius: 5px; /* CSS3 Feature */
  opacity: 1.0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}


.notfound .addbutton:hover {
	opacity: 0.75;
	cursor: pointer;
}

